<%- include('header') -%>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <% if (currentUser) { %>
    <h1>WELCOME BACK <%= currentUser.first_name %></h1>
    <a href="/logout">LOG OUT</a>
  <% } %>
  <div class="message-container">
    <%if (messages.length !== 0) { %>
    <% messages.forEach(message => { %>
      <div class="message">
        <div class="message-header">
          <div class="message-title">
        <p><%= message.title %> </p>
      </div>
      <div class="message-details">
        <p><%= message.author.email %></p>
        <p><%=message.formatted_date %></p>
    </div>
        </div>
        <p><%= message.text %></p>
      </div>
    <% }) %>
    <%} else { %> 
        <p>There are no messages</p>
    <%}%>
  <% if (currentUser) { %>
    <h1>Create new Message</h1>
  <% } %>
  </div>
<%- include('footer') -%>
