<%- include('header') -%>
<div class="main-container">
<div class="page-title">
  <h1><%= title %></h1>
</div>
  <% if (currentUser) { %>
    <div class="user-display">
    <h1>Welcome back <%= currentUser.first_name %></h1>
    <button class="new-message-btn">+ New Message</button>
  </div>
  <% } %>
    <%if (messages.length !== 0) { %>
    <% messages.forEach(message => { %>
      <div class="message">
        <div class="message-header">
          <div class="message-title">
        <p><%= message.title %> </p>
      </div>
      <% if (currentUser && currentUser.membership_status === 'active') { %>
      <div class="message-details">
        <p><%= message.author.email %></p>
        <p><%=message.formatted_date %></p>
    </div>
    <% } %>
        </div>
        <p class="message-text"><%= message.text %></p>
      </div>
    <% }) %>
    <%} else { %> 
        <p>There are no messages</p>
    <%}%>
  </div>
  <% console.log(currentUser) %>
<%- include('footer') -%>
