<%- include('header') -%>
<% console.log(hasNextPage) %>
<div class="main-container">
<div class="page-title">
  <h1><%= title %></h1>
</div>
  <% if (currentUser) { %>
    <div class="user-display">
    <h1>Welcome back <%= currentUser.first_name %></h1>
    <button id="new-message-btn">+ New Message</button>
  </div>
  <% if (locals.errors) {%>
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= locals.errors[0].msg %>
    </div>
    <% } %>
  <dialog class="new-message-dialog">
    <h3>Create a new message</h3>
    <form method="POST" action="messages/new">
      <div class="inputContainer">
      <label for="title" class="label">Title</label>
      <input type="text" name="title" placeholder="Title"required autofocus>
    </div>
    <div class="inputContainer">
      <label for="message" class="label">Message</label>
      <textarea id="message-text" name="text" rows="5" cols="60" required></textarea>
    </div>
      <button type="submit">Submit</button>
      <button type="button" class="close-btn">Cancel</button>
    </form>
  </dialog>
  <% } %>
    <%if (messages.length !== 0) { %>
    <% messages.forEach(message => { %>
      <div class="message">
        <div class="message-header">
          <div class="message-title">
        <p><%= message.title %></p>
      </div>
      <% if (currentUser && currentUser.membership_status !== 'inactive') { %>
      <div class="message-details">
        <p><%= message.author.email %></p>
        <p><%=message.formatted_date %></p>
    </div>
    <% } %>
        </div>
        <p class="message-text"><%= message.text %></p>
        <% if (currentUser &&currentUser.membership_status === 'admin') { %>
        <div class="message-footer">
        <button class="delete-btn" data-id="<%= message._id %>">Delete</button>
        </div>
        <% } %>
      </div>
    <% }) %>
    <div class="page-nav-container">
      <nav class="page-nav" aria-label="Page navigation">
          <ul class="pagination">
              <% if (hasPreviousPage) { %>
              <li class="page-item">
                  <a class="page-link" href="?page=1"><button>1</button></a>
              </li>
              <% if (previousPage !== 1) { %>
                -
              <li class="page-item">
                  <a class="page-link" href="?page=<%= previousPage %>"><button><%= previousPage %></button></a>
              </li>
                <% } %>
              <% } %>
              <li class="page-item active">
                  <a class="page-link" href="?page=<%= currentPage %>"><button><%= currentPage %></button></a>
              </li>
              <% if (hasNextPage) { %>
                <% if (nextPage !== lastPage) { %>
              <li class="page-item">
                  <a class="page-link" href="?page=<%= nextPage %>"><button><%= nextPage %></button></a>
              </li>
              -
              <% } %>
              <li class="page-item">
                  <a class="page-link" href="?page=<%= lastPage %>"><button><%= lastPage %></button></a>
              </li>
              <% } %>
          </ul>
      </nav>
  </div>
    <%} else { %> 
      <div class="messages-status">
        <p>There are no messages</p>
      </div>
    <%}%>
  </div>
<%- include('footer') -%>
